.mainA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.blurb {
  min-width: 300px;
  max-width: 60%;
  text-align: center;
  flex-grow: 1;
}