.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin;
  font-size: 2.5vmin;
  font-weight: bold;
  position: relative;
}

.topBanner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 5px 0px 5px;
  background-color: lightgreen;
}

#home img {
  width: 50px;
  height: auto;
  object-fit: contain;
  display: block;
}

.NavBar a {
  border-radius: 0.8vmin;
  padding: 0.5vmin 1.5vmin;
  text-decoration: none;
  color: #1a1a1a;
}

.NavBar a:hover {
  background-color: #1a1a1a;
  color: whitesmoke;
}

.NavBar a.active {
  background-color: rebeccapurple;
  color: whitesmoke;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  cursor: pointer;
  font-weight: bold;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
}

.dropdownMenu a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdownMenu a:hover {
  background-color: lightgray;
  color: black;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdownMenu {
  display: block;
}

/* For the logo and hamburger button alignment */
.logoAndHamburger {
  display: flex;
  align-items: center;
}

/* Hamburger Button (hidden on large screens) */
.hamburger {
  display: none;
  font-size: 6vmin;  /* Make it larger */
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 1001;  /* Ensure it stays on top */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.menu.open {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  align-items: flex-start;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Show hamburger button only on small screens */
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    max-width: 20%;
  }

  #home img {
    max-width: 20%;
    height: auto;
    top: 10px;
    left: 10px;
  }

  .hidden {
    display: none;
  }
  

  /* Initially hide the menu */
  .menu {
    display: none;
    width: 100%;
  }

  /* When the menu is open, display it as a column */
  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Make each link take up the full width on small screens */
  .NavBar a {
    width: 100%;
    padding: 1vmin 2vmin;
    text-align: center;
  }
}