.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2.5vmin;
  font-weight: bold;
}


#home img {
  width: 50px;
  height: auto;
  object-fit: contain;
  display: block;
}

.NavBar a {
  border-radius: 0.8vmin;
  padding: 0.5vmin 1.5vmin;
  text-decoration: none;
  color: #1a1a1a;
}

.NavBar a:hover {
  background-color: #1a1a1a;
  color: whitesmoke;
}

.NavBar a.active {
  background-color: rebeccapurple;
  color: whitesmoke;
}


/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  cursor: pointer;
  font-weight: bold;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
}

.dropdownMenu a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdownMenu a:hover {
  background-color: lightgray;
  color: black;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdownMenu {
  display: block;
}
