.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Ensures it is at the bottom of the page */
  position: relative;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.phone, .request {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}


.copyright {
  text-align: left;
  color: darkgray;
  margin: 0 0 0 10px;
  font-size: 16px;
}
