.App {
  display: grid;
  grid-template-rows: auto auto;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page takes up at least the full height of the viewport */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
