.resourceContainer {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 30px auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: transform 0.3s ease-in-out;
}

.resourceContainer h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.resourceContainer h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

.resourceContainer p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.resourceContainer ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.resourceContainer li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.resourceContainer strong {
  color: #333;
}

.resourceContainer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.resourceContainer a:hover {
  text-decoration: underline;
}

.homeButton {
  display: flex;
  margin: 10px;
  border-radius: 8px;
  background-color: darkblue;
  padding: 0.7em;
  font-size: 1.5em;
}
