:root {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

  color: #1a1a1a;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

footer {
  margin-top: auto;
  position: relative;
}

.error-message {
  color: rgb(166, 29, 29);
}

button {
  padding: 12px 20px;
  max-width: 300px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  grid-column: span 3;
  width: 100%;
  justify-self: center;
}

button:hover {
  background-color: #0056b3;
}
