.ResourceComponent {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}

.ResourceComponent:hover {
  transform: translateY(-5px);
}

.resourceLink {
  text-decoration: none;
  color: inherit;
}

.category {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #555;
}

.resourceTitle {
  text-decoration: underline;
  font-weight: bold;
}
